<section class="bg-gray-50  ">
    <div class="flex flex-col items-center justify-center mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 ">
            <img class="w-8 mr-2" src="/assets/logo.png" alt="logo">
            Blog dashboard
        </a>
        <div class="p-16 space-y-4 w-[45rem] ">
            <app-box>
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl mb-8 ">
                    Quen mat khau
                </h1>
                <form class="space-y-4 md:space-y-6 " action="#">
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 ">{{inputField.name}}</label>
                        <input  
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                            [placeholder]="inputField.name" required="">
                    </div>
                    <button (click)="inputField.action()" type="submit"
                        class="w-full text-white bg-gray-950 hover:bg-gray-600 duration-500 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">{{inputField.buttonText}}</button>
                </form>
            </app-box>
        </div>

    </div>
</section>