<nav (mouseleave)="mouseleave()" (mouseenter)="mouseenter()"
    class="z-50 fixed flex flex-col pl-5 shadow-2xl float-left h-[100vh] justify-between duration-200 w-[4rem] hover:w-[15rem] bg-white "
    [class]="isHover?'rounded-tr-[100px] ':''">

    <div class="flex gap-4 items-center mt-4 mr-4">
        <img src="/assets/logo.png" class="w-[2.8rem]" />
        <p *ngIf="isHover" class="text-black font-semibold text-lg">Dashboard</p>

    </div>

    <div class="flex flex-col  gap-8 overflow-scroll mt-4  h-[55vh] sidebar" (scroll)="onScroll($event)" #route>
        <div *ngFor="let route of routes; let i=index" class="">
            <a [routerLink]="route.path" class="text-icon flex gap-1" [routerLinkActive]="activeClass"
                ariaCurrentWhenActive="page">
                <mat-icon aria-hidden="false" aria-label="Example home icon" class=""
                    [fontIcon]="route.icon"></mat-icon>
                <p *ngIf="isHover" class="mr-2">
                    {{route.name}}
                </p>
            </a>

        </div>
        <hr class=" relative -left-5 ">
        <div *ngFor="let route of adminRoutes; let i=index" class="">
            <a [routerLink]="route.path" class="text-icon flex gap-1"  [routerLinkActive]="activeClass"
                ariaCurrentWhenActive="page">
                <mat-icon aria-hidden="false" aria-label="Example home icon" class=""
                    [fontIcon]="route.icon"></mat-icon>
                <p *ngIf="isHover" class="mr-2">
                    {{route.name}}
                </p>
            </a>
        </div>
    </div>
    <button (mouseenter)="handleScrollDown()" class="-top-10 h-3 relative -left-2.5 cursor-default">

        <mat-icon *ngIf="!checkEndScroll('route')" class="text-black text-sm self-end"
            fontIcon="arrow_drop_down"></mat-icon>
    </button>

    <div>


        <a class=" mb-10 text-icon flex pr-5 items-center" routerLink="profile" routerLinkActive="text-blue-500 ">
            <img [src]="userAvatar" class="rounded-lg w-[3rem] " />
            <div *ngIf="isHover">
                <p class="  font-semibold text-sm">
                    {{user? user.userInformation.fullName:""}}
                </p>
                <p class=" text-sm">
                    Xem profile
                </p>
            </div>
            <mat-icon class=" text-sm self-end" *ngIf="isHover" fontIcon="arrow_forward_ios"></mat-icon>

        </a>



        <a class="flex gap-2 items-center text-icon mb-2 cursor-pointer" (click)="handleLogout()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
            <p *ngIf="isHover">Logout</p>
        </a>
    </div>
</nav>