<div class="">
    <div class="flex flex-col items-center">
        <img [src]="userDetail.userInformation.avatar" class="w-[10rem] rounded-xl shadow-xl mb-5" alt="">
        <div class="flex gap-4">
            <p-badge *ngFor="let role of userDetail.roles" [value]="role.name"></p-badge>
        </div>
    </div>
    <div class="[&>p>span]:text-icon px-4   [&>p>input]:text-icon text-gray-700 leading-10">

        <p>Trang thai
            <p-badge severity="success" [value]="userDetail.status.name"></p-badge>
        </p>
        <p>Email
            <span class="">{{userDetail.email}}</span>
        </p>
        <p>Username
            <span>{{userDetail.username}}</span>
        </p>

        <p>
            Ten
            <input type="text" [disabled]="!isEditable" [class]="isEditable?'border border-b-active':''"
                [(ngModel)]="newUserDetail.fullName" />
        </p>
        <p>
            SDT
            <input class="" type="text" [disabled]="!isEditable" [class]="isEditable?'border border-b-active':''"
                [(ngModel)]="newUserDetail.phone" />
        </p>
        <div class="flex gap-1">
            <p>
                Bio
            </p>
            <textarea type="text" [disabled]="!isEditable" [class]="isEditable?'border border-b-active':''"
                class="text-icon w-full px-2" [(ngModel)]="newUserDetail.bio"></textarea>
        </div>
    </div>
    <div class="w-[20vw] m-auto flex gap-7">

        <button [disabled]="isLoading" (click)="toggleEdit()"
            class="w-full mt-7 bg-active hover:bg-blue-600 duration-500 text-white rounded-lg p-2">{{isEditable?"Xac nhan":"Cap nhat"}}</button>
        <button (click)="toggleCancle()" *ngIf="isEditable"
            class="w-full mt-7 bg-red-300 hover:bg-red-400 duration-500 text-white rounded-lg p-2">Huy</button>

    </div>

</div>