<p class="font-bold text-2xl">Cap nhat password</p>
<div class="flex gap-4">
    <div class="w-[50%]">
        <span class="p-float-label mt-10 w-full border-b">
            <input id="float-input" pInputText type="password" class="w-full focus:outline-none" [(ngModel)]="password">
            <label for="float-input">Mat khau moi</label>
        </span>
        <span class="p-float-label mt-10 w-full border-b">
            <input id="float-input" type="password" pInputText class="w-full focus:outline-none" [(ngModel)]="confirm">
            <label for="float-input">Nhap lai mat khau</label>
        </span>
        <button (click)="handleUpdate()" [disabled]="!checkValidPassword() || isLoading"
            class="mt-8 w-full disabled:bg-icon bg-active hover:bg-blue-600 duration-500 text-white rounded-lg p-2">Xac
            nhan</button>
    </div>
    <div>
        <p class="font-semibold">
            Mat khau phai
        </p>
        <div class="ml-4 leading-10 text-icon">
            <p [class]="password.length >=8 ?'text-active': ''">
                Dai hon 8 ky tu
            </p>
            <p [class]=" isNum ? 'text-active' :''">
                Chua so tu 0 -> 9
            </p>
            <p [class]=" isUp ? 'text-active' :''">
                Chua chu in hoa va chu thuong
            </p>
        </div>


    </div>
</div>