<div class="py-10">
    <div class="grid-cols-3 grid gap-12">
        <div class="col-span-2 grid grid-cols-3 ">
            <div class="relative w-[80%] col-span-2">
                <p class="font-semibold text-icon text-2xl">
                    Welcome back👋
                </p>
                <div class="mt-12 shadow-2xl">
                    <app-box>
                        <div *ngIf="userDetail">
                            <p
                                class="text-xl font-semibold bg-gradient-to-r from-indigo-600 via-cyan-500 to-purple-400 inline-block text-transparent bg-clip-text ">
                                {{userDetail.userInformation.fullName}}</p>
                            <p class="text-icon text-sm">{{userDetail.roles[0].name}}/{{userDetail.roles[1].name}}</p>
                            <div class="flex gap-5 mt-12">
                                <p class="text-icon"> <span
                                        class="text-lg mr-3 font-semibold text-gray-500">{{totalPost}}</span>
                                    total post</p>
                                <p class="text-icon"> <span
                                        class="text-lg mr-3 font-semibold text-gray-500">{{totalPoint}}</span>
                                    points</p>
                            </div>
                        </div>
                    </app-box>
                    <img class="w-[80%] absolute -top-10 -right-32" src="assets/reading.png" alt="">
                </div>
            </div>
            <div class="self-end">
                <app-widget title="Total share" [value]="totalShare" image="assets/share.png"></app-widget>
            </div>
        </div>
        <div class="flex self-end gap-8">
            <app-widget title="Total like" [value]="totalLike" image="assets/like.png"></app-widget>
            <app-widget title="Total view" [value]="totalView" image="assets/view.png"></app-widget>
        </div>

        <div class="card col-span-2 ">
            <app-box>
                <h5 class="text-lg font-bold">Thống kê</h5>
                <p-chart [data]="lineStylesData" [options]="basicOptions" type="line"></p-chart>
            </app-box>
        </div>
        <div class="w-full">
            <app-box>

                <p class="text-lg font-semibold mb-4">
                    Recent post
                </p>
                <div class="flex flex-col gap-4 h-[45vh] overflow-scroll">
                    <span *ngFor="let post of recentPosts">
                        <app-recent-post [title]="post.title" [image]="post.imageLink"
                            [view]="post.postStatistic.viewCount" [like]="post.likeReader.length"
                            [id]="post.id"></app-recent-post>
                    </span>
                </div>
            </app-box>
        </div>
    </div>
    <div class="flex gap-8 justify-between mt-8 h-[50vh] overflow-scroll no-scrollbar">
        <div class="w-[50%]">
            <app-activity></app-activity>
        </div>
        <div class="w-[50%]">
            <app-login-log></app-login-log>
        </div>
    </div>
</div>